{% extends "layout.html" %}

{% block title %}
    Therese Coleongco
{% endblock %}

{% block main %}
    <body class="not-index-bg">
        <header class="d-flex align-items-center justify-content-center">
            <a href="/" class="consolas"><h3>&lt;</h3></a>
            <h1 class="prime m-5" id="page-header">Curriculum Vitae</h1>
        </header>
        <main class="center">
                <h4 class="consolas">Jan. 1, 2024</h4>
                <section class="sans lead cv-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li>Aenean non felis dignissim, malesuada mi nec, dictum felis.</li>
                        <li>Nullam ac sapien gravida, tincidunt libero sit amet, gravida dui.</li>
                        <li>Praesent dapibus metus quis metus gravida, vel mattis velit iaculis.</li>
                        <li>Nunc congue justo id libero blandit, sit amet elementum justo mollis.</li>
                        <li>Pellentesque sed felis elementum diam hendrerit malesuada.</li>
                    </ul>
                </section>
                <h4 class="consolas cv-date">Feb. 28, 2025</h4>
                <section class="sans lead cv-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li>Aenean non felis dignissim, malesuada mi nec, dictum felis.</li>
                        <li>Nullam ac sapien gravida, tincidunt libero sit amet, gravida dui.</li>
                        <li>Praesent dapibus metus quis metus gravida, vel mattis velit iaculis.</li>
                        <li>Nunc congue justo id libero blandit, sit amet elementum justo mollis.</li>
                        <li>Pellentesque sed felis elementum diam hendrerit malesuada.</li>
                    </ul>
                </section>
                <h4 class="consolas cv-date">Mar. 23, 2026</h4>
                <section class="sans lead cv-details">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    <ul>
                        <li>Aenean non felis dignissim, malesuada mi nec, dictum felis.</li>
                        <li>Nullam ac sapien gravida, tincidunt libero sit amet, gravida dui.</li>
                        <li>Praesent dapibus metus quis metus gravida, vel mattis velit iaculis.</li>
                        <li>Nunc congue justo id libero blandit, sit amet elementum justo mollis.</li>
                        <li>Pellentesque sed felis elementum diam hendrerit malesuada.</li>
                    </ul>
                </section>
        </main>
    </body>
{% endblock %}


