{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table>
        <thead>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ usd(stock.price) }}</td>
                    <td>{{ usd(stock.price * stock.total_shares) }}</td>

                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>Cash</td>
                <td>{{ usd(cash) }}</td>
            </tr>
            <tr>
                <td>{{test}}</td>
                <td></td>
                <td></td>
                <td>TOTAL</td>
                <td>{{ usd(grand_total) }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}


