{% extends "layout.html" %}

{% block title %}
    Therese Coleongco
{% endblock %}

{% block main %}
    <body id="hero" class="text-center">
        <h1 class="prime" style="margin-top: 11rem">Therese Coleongco</h1>
        <h3 class="sans" style="margin-bottom: 4rem">
            aspiring bioinformatician
        </h3>
        <div class="d-flex justify-content-evenly">
            <a href="/projects" class="consolas lead">Projects</a>
            <a href="/cv" class="consolas lead">CV</a>
        </div>
    </body>
{% endblock %}


