{% extends "layout.html" %}

{% block title %}
    Project title
{% endblock %}

{% block main %}
<body class="not-index-bg">
    <header class="d-flex align-items-center justify-content-center">
        <a href="/" class="consolas"><h3>&lt;</h3></a>
        <h1 class="prime text-center m-5">Project title</h1>
    </header>
    <main class="center">
        <img src="static/microarray.jpg">
        <p class="sans mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ullamcorper ipsum id maximus euismod. Mauris congue malesuada ipsum, a commodo ipsum placerat sit amet. Etiam vel nisi sed dui semper ultrices nec sed libero. Quisque non risus mattis, ornare purus eu, volutpat ligula. Aliquam erat volutpat. Integer et arcu euismod, placerat eros eu, tincidunt diam. Mauris rhoncus dui felis, non volutpat neque vehicula eu. Maecenas et posuere mauris, vel suscipit sapien. Sed imperdiet elit id velit lobortis fringilla. Nullam nec imperdiet libero.
        </p>
        <p class="sans">
            Sed sapien lorem, dictum nec mauris ut, varius vehicula elit. Pellentesque commodo felis sed est gravida, id aliquam risus hendrerit. In eu magna lorem. Cras viverra scelerisque nisi, vestibulum egestas elit condimentum eleifend. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed suscipit luctus dictum. In volutpat iaculis arcu, quis imperdiet leo facilisis at. Suspendisse rhoncus neque non enim varius, id viverra leo elementum. Nunc ac bibendum lacus. Aliquam mollis felis magna, tempus mattis purus porttitor venenatis. Donec a turpis condimentum justo semper porta. Vestibulum dictum tellus vel justo dictum tincidunt. Donec varius semper libero, id pharetra enim efficitur vitae. Pellentesque commodo aliquet euismod. Sed auctor, nulla sed pharetra venenatis, ex enim mollis est, at blandit lectus eros at lectus.
        </p>
        <p class="sans">
            Quisque fringilla sagittis felis. Maecenas ac lectus nec tellus sollicitudin interdum. Nam auctor arcu eu pellentesque faucibus. Praesent venenatis volutpat fermentum. Nam mattis ante lacus, in porttitor velit maximus quis. Proin non ex at nulla scelerisque lacinia posuere non purus. Ut a posuere purus, eget posuere turpis.
        </p>
        <p class="sans">
            Duis tempor dolor malesuada, tincidunt ipsum vitae, facilisis metus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam massa ex, posuere non consequat at, suscipit et mi. Fusce bibendum libero ut lacus aliquam, id tincidunt nunc accumsan. Nunc ultrices dui viverra, ullamcorper purus sit amet, volutpat eros. Cras id efficitur dolor. Praesent consectetur mollis odio lobortis dictum. Phasellus facilisis accumsan fringilla. Duis hendrerit aliquet varius. Aliquam non nisl et urna varius commodo eu tempus ligula. Duis hendrerit, quam eu vestibulum tempor, sem libero hendrerit est, vel sagittis leo neque eu nisi. Cras a mauris nibh. Suspendisse lobortis a leo in consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
    </main>
</body>
{% endblock %}
