{% extends "layout.html" %}

{% block title %}
    Therese Coleongco
{% endblock %}

{% block main %}
    <body class="not-index-bg">

        <header class="d-flex align-items-center justify-content-center">
            <a href="/" class="consolas"><h3>&lt;</h3></a>
            <h1 class="prime text-center m-5">Projects</h1>
        </header>
        <main>
                <section class="row m-4 justify-content-center">
                    <article class="col-md-3">
                        <img src="../static/microarray.jpg" width="85%">
                        <a href="/project"><h3 class="consolas mt-2 mb-2">Project title</h3></a>
                        <p class="sans">Project description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </article>
                    <article class="col-md-3">
                        <img src="../static/microarray.jpg" width="85%">
                        <a href="/project"><h3 class="consolas mt-2 mb-2">Project title</h3></a>
                        <p class="sans">Project description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </article>
                    <article class="col-md-3">
                        <img src="../static/microarray.jpg" width="85%">
                        <a href="/project"><h3 class="consolas mt-2 mb-2">Project title</h3></a>
                        <p class="sans">Project description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </article>
                </section>
        </main>

    </body>
{% endblock %}


